.main-body{
  display:flex;
  flex-direction: row;
  padding:0 5%;
  padding-top:20px;
  padding-bottom:20px;
  column-gap:5%;
  row-gap:5%;
  margin:0;
}

.main-body-content{
  width:80%;
}

.main-body-photo{
  margin: 50px auto;
  display: block;
  width:75%;
}

.main-body-collage{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap:10px;
  row-gap: 10px;
  margin:30px;
  justify-content: center;
  align-items: center;
}

.main-body-collage-photo{
  width:45%;
  object-fit: cover;
}

.main-body-sidebar{
  width:25%;
  background-color: beige;
  box-shadow:0px 0px 5px rgb(152, 152, 152);
  ;
}

@media (max-width:1000px){
  .main-body{
    flex-direction: column;
    align-items: center;
    padding:5%;
  }
  .main-body-content{
    width:100%;
  }

  .main-body-sidebar{
    width:100%;
  }


  .main-body-collage{
    flex-direction: column;
  }

  .main-body-collage-photo{
    width:75%;
  }

}