
.main-header{
    display:flex;
    padding:0 100px;
    height:150px;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(226, 226, 226);
  }

  .main-header-logo{
    width:200px;
    height:120px;
    object-fit:cover;
  }

  .main-header-title{
    font-size:300%;
    padding-right:5%;
  }
  
  
  @media (max-width:1000px)
  {
    .main-header{
      height:300px;
    }

    .main-header-logo{
      height:200px;
    }

  }