
.main-header{
  display:flex;
  padding:0 100px;
  height:150px;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(226, 226, 226);
  background-color: rgb(244, 244, 227);
}

.main-header-left{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.main-header-logo{
  height:120px;
  object-fit:scale-down;
  filter: drop-shadow(0px 0px 5px rgb(190, 190, 190));
}

.main-header-pic{
  width:200px;
  height:120px;
  object-fit:cover;
  filter: drop-shadow(0px 0px 5px rgb(190, 190, 190));
}

.main-header-text{
  font-size:300%;
  padding:0 25px;
  display:flex;
  flex-direction: column;
  text-shadow: 0px 1px 5px rgb(200,200,200);
}

  
  
@media (max-width:1000px)
  {
    .main-header{
      height:300px;
    }

    .main-header-logo,
    .main-header-pic{
      height:200px;
    }

  }