.header-nav{
  background-color: rgb(105, 105, 105);
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:sticky;
  left:0;
  right:0;
  top:-3px;
  z-index:99;
  padding:0 100px;
  color:white;
  text-align: center;
  }

.header-nav-link{
  padding:20px;
  transition:0.3s;
  font-weight:600;
  justify-content: center;
  text-align:center;
  align-items: center;
}
  
  .header-nav-link:hover{
  background-color: rgb(139, 139, 139);
  cursor:pointer;
  }

  .header-nav .icon{
    display: none;
  }

@media (max-width:1000px){

  .header-nav{
    font-size:40px;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
    padding:10px 0px 30px 0px;
  }

    .header-nav a:not(:first-child) {display: none;}
    .header-nav a.icon {
      float: right;
      display: flex;
    }
 

  .header-nav.responsive {
  display:flex;
  position:sticky;
  left:0;
  right:0;
  top:-3px;
  z-index:99;
  }
  .header-nav.responsive a.icon {
    position: sticky;
    right: 0;
    top: 0;
  }
  .header-nav.responsive a {
    float: none;
    display:flex;
  }
}